body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2186px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2186px;
  height:2720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:2186px;
  height:2720px;
  display:flex;
}
#u18656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2055px;
  height:2010px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18657 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:362px;
  width:2055px;
  height:2010px;
  display:flex;
}
#u18657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u18658 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:48px;
  width:256px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u18658 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2186px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:2186px;
  height:184px;
  display:flex;
}
#u18659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u18660 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:300px;
  width:183px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u18660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:70px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u18661 {
  border-width:0px;
  position:absolute;
  left:1685px;
  top:2564px;
  width:181px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:70px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u18662 {
  border-width:0px;
  position:absolute;
  left:1916px;
  top:2564px;
  width:181px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u18663 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:361px;
  width:300px;
  height:75px;
  display:flex;
  font-size:28px;
  color:#000000;
}
#u18663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
}
#u18664 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:361px;
  width:300px;
  height:75px;
  display:flex;
  font-size:28px;
  color:#0000FF;
}
#u18664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18665 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:569px;
  width:1776px;
  height:420px;
}
#u18666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18667 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:0px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18668 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:0px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:70px;
}
#u18669 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:0px;
  width:461px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:70px;
}
#u18670 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:0px;
  width:355px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18672 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:70px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18673 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:70px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:70px;
}
#u18674 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:70px;
  width:461px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:70px;
}
#u18675 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:70px;
  width:355px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18677 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:140px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18678 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:140px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:70px;
}
#u18679 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:140px;
  width:461px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:70px;
}
#u18680 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:140px;
  width:355px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18682 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:210px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18683 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:210px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:70px;
}
#u18684 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:210px;
  width:461px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:70px;
}
#u18685 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:210px;
  width:355px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18687 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:280px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18688 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:280px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:70px;
}
#u18689 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:280px;
  width:461px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:70px;
}
#u18690 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:280px;
  width:355px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18692 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:350px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18693 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:350px;
  width:320px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:70px;
}
#u18694 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:350px;
  width:461px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:70px;
}
#u18695 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:350px;
  width:355px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u18695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18696 label {
  left:0px;
  width:100%;
}
#u18696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u18696 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:574px;
  width:100px;
  height:60px;
  display:flex;
}
#u18696 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u18696_img.selected {
}
#u18696.selected {
}
#u18696_img.disabled {
}
#u18696.disabled {
}
#u18696_img.selectedDisabled {
}
#u18696.selectedDisabled {
}
#u18696_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:22px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18696_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u18697 label {
  left:0px;
  width:100%;
}
#u18697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u18697 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:645px;
  width:100px;
  height:60px;
  display:flex;
}
#u18697 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u18697_img.selected {
}
#u18697.selected {
}
#u18697_img.disabled {
}
#u18697.disabled {
}
#u18697_img.selectedDisabled {
}
#u18697.selectedDisabled {
}
#u18697_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:22px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18697_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u18698 label {
  left:0px;
  width:100%;
}
#u18698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u18698 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:712px;
  width:100px;
  height:60px;
  display:flex;
}
#u18698 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u18698_img.selected {
}
#u18698.selected {
}
#u18698_img.disabled {
}
#u18698.disabled {
}
#u18698_img.selectedDisabled {
}
#u18698.selectedDisabled {
}
#u18698_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:22px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18698_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u18699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:65px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u18699 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:500px;
  width:260px;
  height:65px;
  display:flex;
  font-size:28px;
}
#u18699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18700 label {
  left:0px;
  width:100%;
}
#u18700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u18700 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:783px;
  width:100px;
  height:60px;
  display:flex;
}
#u18700 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u18700_img.selected {
}
#u18700.selected {
}
#u18700_img.disabled {
}
#u18700.disabled {
}
#u18700_img.selectedDisabled {
}
#u18700.selectedDisabled {
}
#u18700_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:22px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18700_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u18701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18701 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:655px;
  width:147px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18701 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18702 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:655px;
  width:147px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18702 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18703 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:724px;
  width:147px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18703 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18704 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:724px;
  width:147px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18704 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18705 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:793px;
  width:147px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18705 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18706 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:793px;
  width:147px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18706 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:52px;
}
#u18707 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:649px;
  width:110px;
  height:52px;
  display:flex;
}
#u18707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:52px;
}
#u18708 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:718px;
  width:110px;
  height:52px;
  display:flex;
}
#u18708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:52px;
}
#u18709 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:788px;
  width:110px;
  height:52px;
  display:flex;
}
#u18709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18710 label {
  left:0px;
  width:100%;
}
#u18710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u18710 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:854px;
  width:100px;
  height:60px;
  display:flex;
}
#u18710 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u18710_img.selected {
}
#u18710.selected {
}
#u18710_img.disabled {
}
#u18710.disabled {
}
#u18710_img.selectedDisabled {
}
#u18710.selectedDisabled {
}
#u18710_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:22px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18710_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u18711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18711 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:865px;
  width:147px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18711 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18712 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:865px;
  width:147px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18712 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:52px;
}
#u18713 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:860px;
  width:110px;
  height:52px;
  display:flex;
}
#u18713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18714 {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:865px;
  width:186px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18714 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18715 label {
  left:0px;
  width:100%;
}
#u18715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u18715 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:924px;
  width:100px;
  height:60px;
  display:flex;
}
#u18715 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u18715_img.selected {
}
#u18715.selected {
}
#u18715_img.disabled {
}
#u18715.disabled {
}
#u18715_img.selectedDisabled {
}
#u18715.selectedDisabled {
}
#u18715_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:22px;
  width:36px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18715_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u18716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18716 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:933px;
  width:147px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#0000FF;
  text-align:center;
}
#u18716 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u18718 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:119px;
  width:64px;
  height:52px;
  display:flex;
}
#u18718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u18719 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:124px;
  width:174px;
  height:42px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u18719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u18720 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:124px;
  width:174px;
  height:42px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u18720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u18721 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:119px;
  width:64px;
  height:52px;
  display:flex;
}
#u18721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u18722 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:124px;
  width:174px;
  height:42px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u18722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u18723 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:119px;
  width:64px;
  height:52px;
  display:flex;
}
#u18723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u18724 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:129px;
  width:174px;
  height:42px;
  display:flex;
  font-size:16px;
  color:#0000FF;
}
#u18724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u18725 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:124px;
  width:64px;
  height:52px;
  display:flex;
}
#u18725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u18726 {
  border-width:0px;
  position:absolute;
  left:1396px;
  top:129px;
  width:174px;
  height:42px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u18726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u18727 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:200px;
  width:174px;
  height:42px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u18727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u18728 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:200px;
  width:174px;
  height:42px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u18728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u18729 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:200px;
  width:174px;
  height:42px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u18729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u18730 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:194px;
  width:64px;
  height:52px;
  display:flex;
}
#u18730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u18731 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:194px;
  width:64px;
  height:52px;
  display:flex;
}
#u18731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:122px;
}
#u18732 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:124px;
  width:95px;
  height:122px;
  display:flex;
  font-size:2px;
}
#u18732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u18733 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:200px;
  width:174px;
  height:42px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u18733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u18734 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:194px;
  width:64px;
  height:52px;
  display:flex;
}
#u18734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u18735 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:124px;
  width:174px;
  height:42px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u18735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u18736 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:124px;
  width:64px;
  height:52px;
  display:flex;
}
#u18736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:33px;
  color:#0000FF;
  text-align:center;
}
#u18737 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:1066px;
  width:297px;
  height:38px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:33px;
  color:#0000FF;
  text-align:center;
}
#u18737 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
